/* Estilos para el header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto en el encabezado */
  }
  /* Estilos para el header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto en el encabezado */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  /* Estilos para el contenido principal */
  .main-content {
    padding-top: 60px; /* Ajusta el valor según la altura de tu header */
  }
  
  /* Estilos para el footer */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  /* Estilos del logo */
  .logo img {
    max-width: 100px; /* Ajusta el tamaño del logo según tu diseño */
  }
  
  /* Estilos del campo de búsqueda */
  .search input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .search button {
    padding: 5px 10px;
    background-color: #007bff; /* Color del botón de búsqueda */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilos del menú desplegable */
  .menu-button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #09ff00;
    min-width: 120px;
    right: 0;
  }
  
  .menu-button:hover + .dropdown-content,
  .dropdown-content:hover {
    display: block;
  }
  
  .dropdown-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-content li {
    padding: 0;
    margin: 0;
  }
  
  .dropdown-content a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #007bff; /* Color de fondo en el hover */
  }
  
  /* Estilos para el footer */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  .footer-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 5px 0;
  }
  
  .copyright {
    font-size: 14px;
    margin-top: 10px;
  }
  
  .contact {
    font-size: 14px;
    margin-top: 10px;
  }
  
  .contact a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .contact a:hover {
    text-decoration: underline;
  }