nav {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Estilos para el cuerpo principal (main) */
main {
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.remove-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: darkred;
}

/* Estilos para el pie de página (footer) */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}