<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" /> <!-- pagina para los iconos-->
    <link rel="stylesheet" href="/css/normalize.css" /> <!--para vincular a la pagina de estilos generales-->
    <link rel="stylesheet" href="/css/styles.css" /> <!--para vilcular o conectar a la de estilos con clases-->

    <title>Home_Farmacia</title>
</head>

<body> Farmacia
    <header>

<!-- para agregar logos y encabezado que se va a repetir en todas las paginas-->
<nav>
<ul>
    <li>
        <a href="/register">Crea tu cuenta <i class="fa-solid fa-address-card"></i></a>
    </li>
    <li>
        <a href="/login">Si ya sos Cliente Ingresá a tu cuenta <i class="fa-solid fa-right-to-bracket"></i></a>
    </li>
    <li>
        <a href="/productCart">Productos <i class="fa-solid fa-basket-shopping"></i></a>
    </li>

</ul>
</nav>
    </header>

    <footer>
<!-- para agregar pie de pagina que se va a repetir en todas las paginas-->
    </footer>
    
</body>
</html>