<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nombre-Producto</title>
</head>
<body>
    <header>
<!-- A completar por el encargado del header-->
    </header>
    <main>
        <p>
            Inicio > Cuidado Personal > Pelo > Shampoo
        </p>
        <article>
            <img src="/images/Pantene-ProV-Restauración.jpg">
            <section>
                <div>
                    <h2>
                        PANTENE
                    </h2>
                    <h4>
                        Shampoo Pantene Pro-V Essentials Brillo Extremo
                    </h4>
                </div>
                <div>
                    <form action="" method="POST" >
                        <input type="radio" name="tamaño-producto" value="200ml" id="200ml">
                        <label for="200ml">200 ml    $800</label>
                        <input type="radio" name="tamaño-producto" value="400ml" id="400ml">
                        <label for="400ml">400 ml    $1250</label>
                        <input type="radio" name="tamaño-producto" value="750ml" id="750ml">
                        <label for="750ml">750 ml    $2200</label>
                    </form>
                    <form action="" method="post">
                        <label>Seleccione la cantidad de productos:</label>
                        <select name="Quantity">
                            <option value="1">1 (uno)</option>
                            <option value="2">2 (dos)</option>
                            <option value="3">3 (tres)</option>
                            <option value="4">4 (cuatro)</option>
                            <option value="5">5 (cinco)</option>
                        </select>
                        <button type="submit">Agregar</button>
                        <button type="submit">Favorito</button>
                </div>
            </section>
        </article>
        <section>
            <h4>
                Descripción detallada:
            </h4>
            <p>
                El shampoo Pantene Miracle Restauración con su formula multivitaminas nutre tu cabello desde la raiz para que crezca largo y fuerte hasta las puntas. Con su nueva tecnologia llamada reposicion de lipidos fortalece el cabello para darle el poder de combatir el estres diario. Ahora nuestros shampoos no solo limpian, sus formulas tambien pueden brindarle al cabello una suavidad y una fortaleza extraordinaria.
            </p>
            <p>
                Beneficios:
                La colección Restauración está formulada para restaurar el cabello con aminoácidos, aceite de argán y la exclusiva Pro-Vitamina de Pantene.
            </p>
            <p>
                Modo de Uso:
                Aplique sobre el cabello mojado, masajee suavemente el cuero cabelludo con las puntas de los dedos de forma circular, enjuague y repita si es necesario.    
            </p>
        </section>
    </main>
    <footer>
<!-- A completar por el responsable de crear el footer-->
    </footer>    
</body>
</html>