<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nombre-Producto</title>
    <link href="https://fonts.cdnfonts.com/css/applied-sans-pro" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
<!-- A completar por el encargado del header-->
    </header>
    <main class="main-styles">
        <nav class="route-nav-bar">
            Inicio > Cuidado Personal > Pelo > Shampoo
        </nav>
        <article class="product">
            <h2 class="brand">
                PANTENE
            </h2>
            <h4 class="name">
                Shampoo Pantene Pro-V Essentials Brillo Extremo
            </h4>
            <div class="product-info">
                <img src="/images/Pantene-ProV-Restauración.jpg" class="product-img">
                <form action="" method="POST" class="product-actions">
                    <div class="product-variety">
                        <div>
                            <input type="radio" name="tamaño-producto" value="200ml" id="200ml">
                            <label for="200ml">200 ml    $800</label>
                        </div>
                        <div>
                            <input type="radio" name="tamaño-producto" value="400ml" id="400ml">
                            <label for="400ml">400 ml    $1250</label>
                        </div>
                        <div>
                            <input type="radio" name="tamaño-producto" value="750ml" id="750ml">
                            <label for="750ml">750 ml    $2200</label>
                        </div>
                    </div>
                    <div class="label-quantity">
                        <label>Seleccione la cantidad de productos:</label>
                        <select name="Quantity" class="qty">
                        <option value="1">1 (uno)</option>
                        <option value="2">2 (dos)</option>
                        <option value="3">3 (tres)</option>
                        <option value="4">4 (cuatro)</option>
                        <option value="5">5 (cinco)</option>
                    </select>
                    </div>
                    <p class="price">
                        Total producto:
                    </p>
                    <button type="submit" class="add">
                        <i class="fa-solid fa-cart-shopping"></i>
                        Agregar</button>
                    <button type="submit" class="fav">
                        Favorito
                        <i class="fa-solid fa-heart-circle-plus"></i>
                    </button>
                </form>
            </div>
        </article>
        <section class="detailed">
            <h4 class="detailed-title">
                Descripción detallada:
            </h4>
            <p class="detailes-lines">
                El shampoo Pantene Miracle Restauración con su formula multivitaminas nutre tu cabello desde la raiz para que crezca largo y fuerte hasta las puntas. Con su nueva tecnologia llamada reposicion de lipidos fortalece el cabello para darle el poder de combatir el estres diario. Ahora nuestros shampoos no solo limpian, sus formulas tambien pueden brindarle al cabello una suavidad y una fortaleza extraordinaria.
            </p>
            <p class="detailes-lines">
                Beneficios:
                La colección Restauración está formulada para restaurar el cabello con aminoácidos, aceite de argán y la exclusiva Pro-Vitamina de Pantene.
            </p>
            <p class="detailes-lines">
                Modo de Uso:
                Aplique sobre el cabello mojado, masajee suavemente el cuero cabelludo con las puntas de los dedos de forma circular, enjuague y repita si es necesario.    
            </p>
        </section>
    </main>
    <footer>
<!-- A completar por el responsable de crear el footer-->
    </footer>    
</body>
</html>