<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nombre-Producto</title>
</head>
<body>
    <header>
<!-- A completar por el encargado del header-->
    </header>
    <main>
<!--
    Ruta>ruta>ruta
    <article> 
        Foto
        Nombre
        descripción
    </article>
    <div> 'Accionables'
        Variables del producto (color, tamaño, etc) -> seleccionar 
        Precio
        Campo para introducir cantidad
        Botón de aregar a carrito
    </div>
    <p>
        Descripción detallada
    </p>

-->
    </main>
    <footer>
<!-- A completar por el responsable de crear el footer-->
    </footer>    
</body>
</html>